@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  font-weight: lighter;
  font-size: 2rem;
}

a {
  text-decoration: none;
  margin: 1rem;
  color: black;
}

* {
  font-family: inherit;
}

button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  border: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.85;
}
